/.vs/Kappa/FileContentIndex/5a373d13-d41f-440d-9f5f-433b260d625e.vsidx
/.vs/Kappa/v17/.wsuo
/.vs/Kappa/v17/DocumentLayout.backup.json
/.vs/Kappa/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
Kappa.code-workspace
